/* Tùy chỉnh Pagination của Ant Design */
.ant-pagination {
  margin-bottom: 20px;
}

.ant-pagination-item-active {
  background-color: #007bff; /* Màu xanh giống btn-primary */
  border-color: #007bff;
}

.ant-pagination-item-active a {
  color: black !important;
}

.ant-pagination-item:hover,
.ant-pagination-prev:hover,
.ant-pagination-next:hover {
  border-color: #007bff;
  color: #007bff;
}
